body{
    background-color: lightblue;
}

.maintitle{
    color: green;
    text-align: center;
}

.homepagetext{
    font-size: large;
}

.eggimg{
    height: auto;
    width: 450px;
    
    
}

.eggdogalign{
    text-align: center;
}